@media (max-width: 915px) {
          body{
               overflow-x: hidden!important;
               height: auto;
          }
          .leftSide{
               .profilInfo{
                    font-size: 20px;
               }
               .hire{
                    width: 85%;
               }
               .copyright{
                    font-size: 12px;
               }
          }
          .go-to-project-btn{
               margin-right: auto;
     }
}
@media (max-width: 853px) {
     body{
          overflow-x: hidden!important;
          height: auto;
     }
     .leftSide{
          position: initial;
          width: 100vw;
          top: 0;
          padding-top: 5vh;
          transform: none;
          height: 85vh;
          .head{
               justify-content: space-between;
          }
     }
     .available-link-wrap {
          width: 40vw!important;
     }
     .available-link {
          padding: 10px!important;
     }
     .time{
          left: 0!important;
          width: max-content!important;
     }
     #navbar-example2{
          display: none!important;
     }
     .btnMenu{
          display: none;
     }
     .btnMenu2{
          color: #fff;
          border: #fff 1px solid;
     }
     .contents{
          margin: 0;
          width: 100vw;
          overflow-x: hidden;
          section{
               padding:20px;
          }
     }
     .resume{
          margin-top: 70px!important;
     }
     .introBody{
          font-size: 50px!important;
     }
     .introCatch {
          width: 100%!important;
      }
     #typing-text{
          height: 30vh!important;
          font-size: 50px!important;
     }
     .yearss {
          gap: 0;
          justify-content: space-around;
     }
     .aboutMe{
          padding: 0 20px;
          .about-image, .about-bg {
               width: 90%!important;
          }
          .about-bg {
               border-radius: 2% 10%;
          }
          .ms-5{
               margin: 0!important;
          }
          .StoryInfo{
               .sec{
                    gap: 20px;
               }
               .info1{
                    flex-direction: row!important;
               }
          }
     }
     .resume-lines__item, .service-item{
          width: 85vw;
     }
     .skills{
          display: grid;
          grid-template-columns: repeat(2,1fr)!important;
          .skill-inner{
               i{
                    font-size: 60px!important;
               }
          }
     }
     .time{
          left: 0!important;
      
     }
     swiper-container {
          width: 80%;
     }
     #footer{
          padding: 20px;
     }
     .foot{
          flex-direction: column;
          align-items: center;
     }
     .resume-timeline{
          padding: 0 20px;
          margin-left: auto!important;
     }
     .col-md-3{
          width: 80%!important;
     }
     #footer{
          ul{
               flex-direction: column;
               gap: 20px;
          }
          .socialls{
               gap: 5px;
          }
     }
}
@media (max-width: 500px) {
     .about-image-wrap {
          height: 20vh!important;
     }
     swiper-slide {
          height: 40vh!important;
     }
}