@media (max-width: 768px) {
     body{
          overflow-x: hidden!important;
          height: auto;
     }
     .leftSide{
          position: initial;
          width: 100vw;
          top: 0;
          transform: none;
          height: 85vh;
          .head{
               justify-content: space-between;
          }
     }
     #navbar-example2{
          display: none!important;
     }
     .btnMenu{
          display: none;
     }
     .btnMenu2{
          color: #fff;
          border: #fff 1px solid;
     }
     .contents{
          margin: 0;
          width: 100vw;
          overflow-x: hidden;
          section{
               padding:20px;
          }
     }
}