@media (max-width: 915px) {
     body{
          overflow-x: hidden!important;
          height: auto;
     }
     .leftSide{
          .profilInfo{
               font-size: 20px;
          }
          .hire{
               width: 85%;
          }
          .copyright{
               font-size: 12px;
          }
     }
}
@media (max-width: 853px) {
     body{
          overflow-x: hidden!important;
          height: auto;
     }
     .leftSide{
          position: initial;
          width: 100vw;
          top: 0;
          transform: none;
          height: 85vh;
          .head{
               justify-content: space-between;
          }
     }
     #navbar-example2{
          display: none!important;
     }
     .btnMenu{
          display: none;
     }
     
     .contents{
          margin: 0;
          width: 100vw;
          overflow-x: hidden;
          section{
               padding:20px;
          }
     }
     .resume{
          margin-top: 70px!important;
     }
     .introBody{
          font-size: 50px!important;
     }
     .introCatch {
          width: 100%!important;
      }
     #typing-text{
          height: 30vh!important;
          font-size: 50px!important;
     }
     .yearss {
          gap: 0;
          justify-content: space-around;
     }
     .skills{
          display: grid;
          grid-template-columns: repeat(2,1fr)!important;
     }
     swiper-container {
          width: 80%;
     }
     #footer{
          padding: 20px;
     }
     .foot{
          flex-direction: column;
          align-items: center;
     }
     .resume-timeline{
          padding: 0 20px;
          margin-left: auto!important;
     }
     .col-md-3{
          width: 80%!important;
     }
}