@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     /* #e82e19 */
}
body{
     font-family: "Inter", sans-serif;
     font-size: 16px;
     scroll-behavior: smooth;
     color: #999999;
     background: #1f1f1f;
     line-height: 1.7;
     overflow-x: hidden;
     height: 100vh;
}
img{
     width: 100%;
     height: 100%;
     object-fit: cover;
}
aside{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     position: fixed;
     left: 2vh;
     height: 100vh;
     border-radius: 30px;
     border: 1px solid #565656;
     top: 50%;
     transform: translateY(-50%);
     padding: 10px 30px;
     .head{
          gap: 100px;
          .myName{
               text-align: left;
               color: #fff;
               font-size: 25px;
               font-weight: 900;
          }
          .myRole{
               text-align: right;
               color: #fff;
               font-size: 15px;
               font-weight: 400;
          }
     }
     .profileImg{
          width: 80%;
          height: 30vh;
          margin-left: auto;
          margin-right: auto;
          img{
               border-radius: 30px;
          }
     }
     .profilInfo{
          font-size: 25px;
          color: #fff;
          text-align: center;
          font-weight: 300;
     }
     .copyright{
          font-size: 14px;
          text-align: center;
     }
     .hire{
          text-align: center;
          padding: 11px 58px 10px 58px;
          width: 70%;
          border-radius: 30px;
          text-transform: uppercase;
          border: none;
          outline: none;
          color: #fff;
          transition: .3s;
          background-color: #e82e19;
     }
     .hire:hover{
          background-color: transparent;
          color: #e82e19;
          border: 1px solid #e82e19;
     }
}
aside .card {
     width: fit-content;
     height: fit-content;
     background-color: transparent;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     border: none;
     gap: 20px;
     .socialContainer {
          width: 52px;
          height: 52px;
          border-radius: 50%;
          border: 2px solid #2c2c2c;
          background-color: transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          transition-duration: .3s;
     }
   .socialContainer:hover {
     border: 2px solid #e82e19;
     transition-duration: .3s;
     .socialSvg path {
          fill: #e82e19;
        }
   }
   .socialContainer:active {
     transform: scale(0.9);
     transition-duration: .3s;
   }
    .socialSvg {
     width: 17px;
   }
   .socialSvg path {
     fill: #565656;
   }
   .socialContainer:hover .socialSvg {
     animation: slide-in-top 0.3s both;
   }
}
@keyframes slide-in-top {
     0% {
          transform: translateY(-50px);
          opacity: 0;
     }

     100% {
          transform: translateY(0);
          opacity: 1;
     }
}