@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     /* #ff2200 */
}
body{
     font-family: "Inter", sans-serif;
     font-size: 16px;
     color: #999;
     background: #1f1f1f;
     line-height: 1.7;
     overflow-x: hidden;
     height: 100vh;
}
body::-webkit-scrollbar{
     display: none;
}
img{
     width: 100%;
     height: 100%;
     cursor: not-allowed;
     object-fit: cover;
}
li{
     list-style: none;
}
a{
     text-decoration: none;
}
i{
     color: #ff2200;
}
.leftSide{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     position: fixed;
     left: 2vh;
     height: 100vh;
     width: 25vw;
     border: 1px solid #565656;
     top: 50%;
     transform: translateY(-50%);
     padding: 10px 30px;
     .head{
          justify-content: left;
          .myName{
               margin-top: 20px;
               margin-left: auto;
               margin-right: auto;
               text-align: center;
               color: #d3d3d3;
               font-size: 35px;
               font-weight: 900;
               .logo{
                    color: #ff2200;
               }
          }
     }
     .profileImg{
          width: 80%;
          height: 30vh;
          margin-left: auto;
          margin-right: auto;
     }
     .profilInfo{
          font-size: 30px;
          color: #fff;
          text-align: center;
          font-weight: 900;
     }
     .copyright{
          font-size: 14px;
          text-align: center;
     }
     .hire{
          text-align: center;
          padding: 10px 20px;
          width: 70%;
          text-transform: uppercase;
          border: none;
          margin: 0 auto;
          outline: none;
          color: #fff;
          transition: .3s;
          font-size: 15px;
          background-color: #ff2200;
          i{
               color: #fff;
          }
     }
     .hire:hover{
          background-color: transparent;
          color: #ff2200;
          border: 1px solid #ff2200;
          i{     
               color: #ff2200;
          }
     }
     #typing-texts{
          color: #999;
          font-weight: 600;
          height: 100px;
     }
}
.copyright{
     font-size: 14px;
     text-align: center;
}
.btnMenu2{
     color: #fff;
     border: #fff 1px solid;
     display: none;
}
.card {
     width: fit-content;
     height: fit-content;
     background-color: transparent;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     border: none;
     gap: 20px;
     .socialContainer {
          width: 40px;
          height: 40px;
          background-color: transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          transition-duration: .3s;
     }
   .socialContainer:hover {
     transition-duration: .3s;
     .socialSvg path {
          fill: #ff2200;
        }
   }
   .socialContainer:active {
     transform: scale(0.9);
     transition-duration: .3s;
   }
    .socialSvg {
     width: 17px;
   }
   .socialSvg path {
     fill: #565656;
   }
   .socialContainer:hover .socialSvg {
     animation: slide-in-top 0.3s both;
   }
}
@keyframes slide-in-top {
     0% {
          transform: translateY(-50px);
          opacity: 0;
     }

     100% {
          transform: translateY(0);
          opacity: 1;
     }
}
@keyframes spin {
     0% {
          transform: rotate(0deg);
     }
     100% {
          transform: rotate(360deg);
     }
}
#navbar-example2{
     border: 1px solid #565656;
     right: 5vh;
     gap: 10px;
     padding: 24px 10px;
     background: #1f1f1f;
     z-index: 20;
     bottom: 20%;
}
.contents{
     margin-right: 5vh;
     margin-top: 25vh;
     margin-left: 30vw;
     padding-bottom: 20px;
     section{
          padding-right: 30px;
     }
     /* Available */
     .available-link-wrap {
          -webkit-backdrop-filter: blur(26.25249671936035px);
          backdrop-filter: blur(26.25249671936035px);
          background-color: #2c2c2c;
          width: max-content;
          position: absolute;
          right: 0;
          top: 0;
     }
     .time{
          left: 30vw;
     }
     .available-link {
          color: #999;
          line-height: 1;
          font-size: 13px;
          display: flex;
          align-items: center;
          gap: 14px;
          padding: 13px 21px 13px 20px;
          flex: none;
     }
     .online-dot {
          width: 6px;
          height: 6px;
          background: #00A34C;
          border-radius: 50%;
          position: relative;
          flex: none;
     }
     .online-dot::before {
          content: '';
          background: rgb(0, 163, 76);
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          animation: onlineAnim 1s infinite linear;
     }
}
@keyframes onlineAnim {
     0% {
     transform: scale(1);
     }
     100% {
     transform: scale(5);
     opacity: 0;
     }
}
.btnMenu{
     float: right;
     margin-right: 20px;
     border: 1px solid #565656;
     color: #fff;
     padding: 10px 15px;
}
.btnMenu:hover{
     border: #ff2200 1px solid;
}
.offcanvas{
     background-color: #1f1f1f;
     color: #565656;
}
.offcanvas-body{
     .nav-item{
          cursor: pointer;
     }
     .active{
          color: #fff;
          i{
               color: #ff2200;
          }
     }
     .nav-item:hover{
          color: #fff;
          i{
               color: #ff2200;
          }
     }
     .card {
          width: fit-content;
          height: fit-content;
          background-color: transparent;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          border: none;
          gap: 20px;
          .socialContainer {
               background-color: transparent;
               display: flex;
               align-items: center;
               justify-content: center;
               overflow: hidden;
               transition-duration: .3s;
          }
        .socialContainer:hover {
          transition-duration: .3s;
          .socialSvg path {
               fill: #ff2200;
             }
        }
        .socialContainer:active {
          transform: scale(0.9);
          transition-duration: .3s;
        }
         .socialSvg {
          width: 17px;
        }
        .socialSvg path {
          fill: #565656;
        }
        .socialContainer:hover .socialSvg {
          animation: slide-in-top 0.3s both;
        }
     }
}
/* Introduction */
.introduction{
     .introHead{
          width: max-content;
          font-size: 12px;
          color: #fff;
          font-weight: 300;
          border: 1px solid #565656;
          padding: 5px 15px!important;
          margin-bottom: 53px;
     }
     .introBody{
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          color: #fff;
          gap: 10px;
          font-size: 78px;
          letter-spacing: -0.2px;
          line-height: 90px;
          font-weight: 300;
          span{
               color: #ff2200;
          }
     }
     #typing-text {
          font-size: 78px;
          color: #fff;
          white-space: wrap;
          overflow: hidden;
          width: 90%;
          height: 180px;
          margin-top: -20px;
     }
     .introCatch{
          font-size: 16px;
          color: #999;
          width: 70%;
     }
}
/* Go to Project Rotating Button */
.go-to-project-btn{
     width: 175px;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    position: relative;
    overflow: hidden;
    margin-right: 15px;
     img{
          object-fit: contain;
          width: 85%;
          display: block;
          animation: rotating 6s infinite linear;
     }
     i {
          position: absolute;
          font-size: 40px;
          display: block;
     }
}
@keyframes rotating {
     0% {
          transform: rotate(0);
      }
      
      100% {
          transform: rotate(360deg);
      }
}
/* Years of Experience */
.yearss{
     gap: 100px;
     margin-top: 55px;
     margin-bottom: 55px;
     .years{
          font-size: 72px;
          color: #ff2200;
          line-height: 56px;
          margin-bottom: 38px;
     }
     .textx{
          font-size: 14px;
          line-height: 24px;
          text-transform: uppercase;
     }
}

/* About */
.about{
     .aboutHead{
          font-size: 48px;
          line-height: 60px;
          color: #fff;
          font-weight: 300;
          margin-bottom: 33px;
          width: 80%;
          span{
               color: #ff2200;
          }
     }
     .about-image-wrap {
          height: 50vh;
     }
     .about-image, .about-bg {
          width: 100%;
          height: 100%;
     }
     .about-image{
          right: 1;
     }
      .about-bg {
          height: 100%;
          border-radius: 2% 30%;
          background-image: linear-gradient(315deg, #5656569b 5%, #5656569b 95%)
     }
     .storyGan{
          padding-bottom: 10px;
          margin-bottom: 10px;
          border-bottom: 1px solid #ff2200;
     }
     .info1{
          color: #fff;
          span{
               color: #999;
          }
     }
     #downloadButton {
          margin-top: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          outline: none;
          cursor: pointer;
          width: 150px;
          height: 50px;
          background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
          border-radius: 30px;
          border: 1px solid #8F9092;
          transition: all 0.2s ease;
          font-family: "Source Sans Pro", sans-serif;
          font-size: 14px;
          font-weight: 600;
          color: #606060;
          text-shadow: 0 1px #fff;
     }
     #downloadButton:hover {
          box-shadow: 0 4px 3px 1px #ff2200, 0 6px 8px #ff2200cc, 0 -4px 4px #e82c1799, 0 -6px 4px #e82c1766, inset 0 0 3px 3px #999;
     }
     #downloadButton:active {
          box-shadow: 0 4px 3px 1px #ff2200, 0 6px 8px #ff2200cc, 0 -4px 4px #e82c1799, 0 -6px 4px #e82c1766, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
     }
     #downloadButton:focus {
          box-shadow: 0 4px 3px 1px #ff2200, 0 6px 8px #ff2200cc, 0 -4px 4px #e82c1799, 0 -6px 4px #e82c1766, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
     }   
}
/* Resume */
.resume{
     margin-top: 150px;
     .resume-timeline .item {
          position: relative;
          padding-left: 74px;
          padding-bottom: 68px;
          h3 {
               font-size: 24px;
               font-weight: 300;
               margin-bottom: 5px;
               color: #fff;
          }
          p {
               font-size: 13px;
               color: #999;
               margin-bottom: 18px;
          }
          .date {
               display: block;
               margin-bottom: 28px;
               transition: .3s;
          }
     }
     .resume-timeline .item:hover .date {
     color: #ff2200;
     }
     .resume-timeline .item::after {
          content: '';
          background: #333333;
          width: 1px;
          height: 100%;
          position: absolute;
          left: 0;
          top: 10px;
          z-index: -1;
     }
     .resume-timeline .item:hover::before {
          background: #ff2200;
     }
     .resume-timeline .item::before {
          content: '';
          position: absolute;
          width: 12px;
          height: 12px;
          background: #656565;
          left: -6px;
          top: 7px;
          transition: .3s;
     }
     .resume-timeline .item:hover::before {
          background: #ff2200;
     }

     .resume-timeline .item::before {
          content: '';
          position: absolute;
          width: 12px;
          height: 12px;
          background: #656565;
          left: -6px;
          top: 7px;
          transition: .3s;
     }
     .resume-timeline .item:hover::before {
          background: #ff2200;
     }

     .resume-timeline .item::before {
          content: '';
          position: absolute;
          width: 12px;
          height: 12px;
          background: #656565;
          left: -6px;
          top: 7px;
          transition: .3s;
     }
     .resume-timeline .item:last-child {
          padding-bottom: 0;
     }
     .resume-lines__item {
          padding: 1em;
          background-color: #161616;
          margin: 10px 0;
     }
     .resume-lines__date {
          display: block;
          font-weight: 400;
          font-variant-numeric: lining-nums;
          color: #ff2200;
     }
     .resume-lines__source a{
          font-weight:400;
          color: #ff2200;
     }
     .resume-lines__title {
          font-weight: 700;
          color: #d3d3d3;
     }

     .resume-lines__descr {
          color: #aaa;
     }
     .resume-lines__descr .remaining-text {
          display: none;
     }
      .read-more-btn {
          color: #ff2200;
          border: none;
          cursor: pointer;
          background-color: transparent;
          font-size: 10px;
          font-weight: 400;
          text-decoration: underline;
          &:hover {
               color: #ff22006f;
          }
      }      
}
      .show{
          display: inline!important;
      }
/* Services */
.services-items{
     .service-item {
     background-color: #161616;
     transition: .3s;
     position: relative;
     padding: 44px 48px 41px 48px;
     margin-bottom: 10px;
     cursor: pointer;
     h3 {
          font-size: 24px;
          font-weight: 300;
          margin-bottom: 8px;
          color: #fff;
     }
     p {
          font-size: 14px;
          color: #999;
          margin-bottom: 30px;
     }
     .projects {
          font-size: 12px;
          color: #fff;
          text-transform: uppercase;
          display: inline-block;
     }
     i {
          position: absolute;
          font-size: 30px;
          color:#ff2200;
          top: 45px;
          right: 50px;
     }
     }
     .service-item:last-child {
          margin-bottom: 0;
     }
     .service-item:hover {
          h3 {
               color:#ff2200;
          }
          .projects {
               text-decoration: underline;
          }
     }
}
/*  Skills */
.skills-area {
     padding-top: 90px;
     padding-bottom: 40px;
}
.skills .skill {
     margin-bottom: 50px;
     p {
          font-size: 14px;
          color: #fff;
          margin: 0;
     } 
}
.skills .skill .skill-inner {
     border: 2px solid #565656;
     padding: 30px 0;
     margin-bottom: 20px;
     transition: .3s;
     h2 {
          font-size: 30px;
          color: #ff2200;
          font-weight: 300;
          margin: 0;
     }
     i {
          font-size: 100px;
          margin-bottom: 20px;
          color: #fff;
     }
}
.skills .skill:hover .skill-inner {
     border-color: #ff2200;
     h2{
          color: #fff;
     }
     i{
          color: #ff2200;
     }
}
/* 14 - Portfolio */
.portfolio-area {
     padding-top: 90px;
     padding-bottom: 90px;
 }
 .portfolio-items .portfolio-item {
     margin-bottom: 62px;
 }
 .portfolio-items > div:last-child .portfolio-item {
     margin-bottom: 0;
 }
 .portfolio-items .portfolio-item .portfolio-item-inner {
     height: 370px;
     overflow: hidden;
     position: relative;
     margin-bottom: 30px;
 }
 .portfolio-items .portfolio-item.portfolio-full .portfolio-item-inner {
     height: 410px;
 }
 .portfolio-items .portfolio-item .portfolio-item-inner img {
     display: block;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 .portfolio-items .portfolio-item .portfolio-item-inner .portfolio-categories {
     position: absolute;
     display: flex;
     flex-wrap: wrap;
     gap: 10px;
     align-items: center;
     bottom: 20px;
     left: 20px;
 }
 .portfolio-items .portfolio-item .portfolio-item-inner .portfolio-categories li a {
     display: block;
     font-size: 14px;
     background: #fff;
     color: #000;
     padding: 7px 20px;
     transition: .3s;
 }
 .portfolio-items .portfolio-item:hover .portfolio-item-inner .portfolio-categories li a {
     background: #1f1f1f;
     color: #fff;
 }
 .portfolio-items .portfolio-item h3 {
     font-size: 24px;
     font-weight: 300;
     margin: 0;
 }
 .portfolio-items .portfolio-item h3 a {
     color: #fff;
     display: inline-block;
     border-bottom: 1px solid transparent;
     transition: .3s;
 }
 .portfolio-items .portfolio-item:hover h3 a {
     border-color: #fff;
 }
 /* Tesrimonials */
swiper-container {
     width: 50%;
     height: max-content;
     margin: 0 auto;
     swiper-slide {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 50px;
          height: 60vh;
          padding: 15px;
          color: #fff;
          background: #161616;
          border: #ff2200 1px solid;
          .imagg{
               width: 60px;
               height: 60px;
               img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
               }
               }
          .text{
               color: #fff;
               font-size: 18px;
               font-style: normal;
               font-weight: 400;
          }
     }
     .authorName{
          font-size: 25px;
          font-weight: 700;
          color: #ff2200;
          span{
               font-size: 10px;
          }
     }
}
/* Contact */
.contactForm{
     background-color: #161616;
     padding: 30px;
     input{
          background-color: #2c2c2c;
          outline: 2px solid #2c2c2c;
          height: 55px;
          padding: 0 15px;
          font-size: 14px;
          color: #999!important;
          letter-spacing: 1px;
     }
     label{
          font-size: 12px;
          color: #999;
          font-weight: 500;
          letter-spacing: 1px;
          text-transform: uppercase;
          text-align: left;
          display: block;
     }
     textarea{
          max-height: 220px;
          background-color: #2c2c2c;
          padding: 0;
          outline: 2px solid #2c2c2c;
          padding: 10px 15px;
          font-size: 14px;
          overflow-y: scroll;
          line-height: 18px;
          color: #999;
          letter-spacing: 1px;
          resize: none;
     }
     button{
          background: linear-gradient(145deg, #1f1f1f, #1e1e1e);
          font-size: 17px;
          text-transform: uppercase;
          font-weight: 500;
          border: 0 none;
          color: #999;
          width: 100%;
          height: 55px;
          cursor: pointer;
     }
}
textarea::-webkit-scrollbar{
     display: none;
}
.contactForm input:focus, textarea:focus{
     outline: 2px solid #ff2200!important;
}
.contactForm button:hover{
     box-shadow: 10px 10px 19px #2c2c2c, -10px -10px 19px #161616;
}
/* Footer */
#footer{
     border-top: #999 1px solid;
     padding: 20px;
     margin-top: 50px;
     -webkit-backdrop-filter: blur(0px);
     backdrop-filter: blur(0px);
     box-shadow: 0 1px 2px #00000085;
     .copyright{
          margin-left: auto;
     }
     .contact-infos {
          width: 100%;
          ul {
               justify-content: space-around;
               padding: 25px 0;
          }
          li {
               display: flex;
               align-items: flex-start;
               gap: 18px;
          }
          .icon {
               flex: none;
               width: 52px;
               height: 52px;
               display: flex;
               align-items: center;
               justify-content: center;
               border: .75px solid #fbfbfb1a;
               -webkit-backdrop-filter: blur(15px);
               backdrop-filter: blur(15px);
          }
          i {
               color: #ff2200;
               font-size: 22px;
          }
          .content {
               border: .75px solid #fcfcfc0d;
               padding: 15px;
               position: relative;
               word-break: break-all;
               -webkit-backdrop-filter: blur(0px);
               backdrop-filter: blur(0px);
               box-shadow: 0 1px 2px #00000040;
          }
          .content::before {
               content: "";
               border-bottom: 1px dashed #ff2200;
               border-left: 1px dashed #ff2200;
               top: 52px;
               height: 24px;
               left: -45px;
               width: 44px;
               position: absolute;
               box-sizing: border-box;
               border-radius: inherit;
               pointer-events: none;
          }
          h3 {
               font-size: 16px;
               letter-spacing: -0.75px;
               margin: 0 0 10px;
               color:#ff2200;
               font-weight: 400;
          }
          p {
               font-size: 12px;
               letter-spacing: 0.23px;
               line-height: 21px;
               font-weight: 300;
               margin: 0;
               color: #999;
          }
          a {
               color: #999;
          }
     }
     .socialls{
          gap: 50px;
          column-gap: 20px;
          margin-bottom: 10px;
          a{
               width: 70px;
          }
          img{
               object-fit: contain;
          }
     }
}