@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     /* #e82e19 */
}
body{
     font-family: "Inter", sans-serif;
     font-size: 16px;
     color: #999999;
     background: #1f1f1f;
     line-height: 1.7;
     overflow-x: hidden;
     height: 100vh;
}
body::-webkit-scrollbar{
     display: none;
}
img{
     width: 100%;
     height: 100%;
     object-fit: cover;
}
li{
     list-style: none;
}
a{
     text-decoration: none;
}
.leftSide{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     position: fixed;
     left: 2vh;
     height: 100vh;
     width: 25vw;
     border: 1px solid #565656;
     top: 50%;
     transform: translateY(-50%);
     padding: 10px 30px;
     .head{
          justify-content: left;
          .myName{
               text-align: left;
               color: #d3d3d3;
               font-size: 25px;
               font-weight: 900;
          }
     }
     .profileImg{
          width: 80%;
          height: 30vh;
          margin-left: auto;
          margin-right: auto;
     }
     .profilInfo{
          font-size: 30px;
          color: #fff;
          text-align: center;
          font-weight: 900;
     }
     .copyright{
          font-size: 14px;
          text-align: center;
     }
     .hire{
          text-align: center;
          padding: 10px 20px;
          width: 70%;

          text-transform: uppercase;
          border: none;
          margin: 0 auto;
          outline: none;
          color: #fff;
          transition: .3s;
          font-size: 15px;
          background-color: #e82e19;
     }
     .hire:hover{
          background-color: transparent;
          color: #e82e19;
          border: 1px solid #e82e19;
     }
     #typing-texts{
          color: #999999;
          font-weight: 600;
          height: 100px;
     }
}
.card {
     width: fit-content;
     height: fit-content;
     background-color: transparent;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     border: none;
     gap: 20px;
     .socialContainer {
          width: 52px;
          height: 52px;
          border: 2px solid #2c2c2c;
          background-color: transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          transition-duration: .3s;
     }
   .socialContainer:hover {
     border: 2px solid #e82e19;
     transition-duration: .3s;
     .socialSvg path {
          fill: #e82e19;
        }
   }
   .socialContainer:active {
     transform: scale(0.9);
     transition-duration: .3s;
   }
    .socialSvg {
     width: 17px;
   }
   .socialSvg path {
     fill: #565656;
   }
   .socialContainer:hover .socialSvg {
     animation: slide-in-top 0.3s both;
   }
}
@keyframes slide-in-top {
     0% {
          transform: translateY(-50px);
          opacity: 0;
     }

     100% {
          transform: translateY(0);
          opacity: 1;
     }
}
@keyframes spin {
     0% {
          transform: rotate(0deg);
     }
     100% {
          transform: rotate(360deg);
     }
}
#navbar-example2{
     border: 1px solid #565656;
     right: 5vh;
     gap: 10px;
     padding: 24px 10px;
     background: #1f1f1f;
     z-index: 20;
     bottom: 20%;
}
.contents{
     margin-right: 5vh;
     margin-top: 20vh;
     margin-left: 30vw;
     section{
          padding-right: 30px;
     }
}
.btnMenu{
     float: right;
     margin-right: 20px;
     border: 1px solid #565656;
     color: #fff;
     padding: 10px 15px;
}
.btnMenu:hover{
     border: #e82e19 1px solid;
     color: #e82e19;
}
.offcanvas{
     background-color: #1f1f1f;
     color: #565656;
}
.offcanvas-body{
     .nav-item{
          cursor: pointer;
     }
     .active{
          color: #fff;
          i{
               color: #e82e19;
          }
     }
     .nav-item:hover{
          color: #fff;
          i{
               color: #e82e19;
          }
     }
     .card {
          width: fit-content;
          height: fit-content;
          background-color: transparent;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          border: none;
          gap: 20px;
          .socialContainer {
               background-color: transparent;
               display: flex;
               align-items: center;
               justify-content: center;
               overflow: hidden;
               transition-duration: .3s;
          }
        .socialContainer:hover {
          transition-duration: .3s;
          .socialSvg path {
               fill: #e82e19;
             }
        }
        .socialContainer:active {
          transform: scale(0.9);
          transition-duration: .3s;
        }
         .socialSvg {
          width: 17px;
        }
        .socialSvg path {
          fill: #565656;
        }
        .socialContainer:hover .socialSvg {
          animation: slide-in-top 0.3s both;
        }
     }
}
/* Introduction */
.introduction{
     .introHead{
          width: max-content;
          font-size: 12px;
          color: #fff;
          font-weight: 300;
          border: 1px solid #565656;
          padding: 5px 15px!important;

          margin-bottom: 53px;
     }
     .introBody{
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          color: #fff;
          gap: 10px;
          font-size: 78px;
          letter-spacing: -0.2px;
          line-height: 90px;
          margin-bottom: 43px;
          font-weight: 300;
          span{
               color: #e82e19;
          }
     }
     #typing-text {
          font-size: 78px;
          color: #fff;
          white-space: wrap;
          overflow: hidden;
          width: 90%;
          height: 200px;
          margin-top: -20px;
     }
     .introCatch{
          font-size: 16px;
          color: #999999;
          width: 70%;
     }
}
/* Go to Project Rotating Button */
.go-to-project-btn{
     width: 175px;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;    border: 1px solid #575757;
    position: relative;
    overflow: hidden;
    margin-right: 15px;
     img{
          object-fit: contain;
          width: 85%;
          display: block;
          animation: rotating 6s infinite linear;
     }
     i {
          position: absolute;
          color: #fff;
          font-size: 40px;
          display: block;
     }
}
@keyframes rotating {
     0% {
          transform: rotate(0);
      }
      
      100% {
          transform: rotate(360deg);
      }
}
/* Years of Experience */
.yearss{
     gap: 100px;
     margin-top: 55px;
     margin-bottom: 55px;
     .years{
          font-size: 72px;
          color: #e82e19;
          line-height: 56px;
          margin-bottom: 38px;
     }
     .textx{
          font-size: 14px;
          line-height: 24px;
          text-transform: uppercase;
     }
}
/* About */
.about{
     .aboutHead{
          font-size: 48px;
          line-height: 60px;
          color: #fff;
          font-weight: 300;
          margin-bottom: 33px;
          width: 80%;
          span{
               color: #e82e19;
          }
     }
}
/* Resume */
.resume{
     margin-top: 150px;
     .resume-timeline .item {
          position: relative;
          padding-left: 74px;
          padding-bottom: 68px;
          h3 {
               font-size: 24px;
               font-weight: 300;
               margin-bottom: 5px;
               color: #fff;
          }
          p {
               font-size: 13px;
               color: #999999;
               margin-bottom: 18px;
          }
          .date {
               display: block;
               margin-bottom: 28px;
               transition: .3s;
          }
     }
     .resume-timeline .item:hover .date {
     color: #e82e19;
     }
     .resume-timeline .item::after {
          content: '';
          background: #333333;
          width: 1px;
          height: 100%;
          position: absolute;
          left: 0;
          top: 10px;
          z-index: -1;
     }
     .resume-timeline .item:hover::before {
          background: #e82e19;
     }
     .resume-timeline .item::before {
          content: '';
          position: absolute;
          width: 12px;
          height: 12px;
          background: #656565;
          left: -6px;
          top: 7px;
          transition: .3s;
     }
     .resume-timeline .item:hover::before {
          background: #e82e19;
     }

     .resume-timeline .item::before {
          content: '';
          position: absolute;
          width: 12px;
          height: 12px;
          background: #656565;
          left: -6px;
          top: 7px;
          transition: .3s;
     }
     .resume-timeline .item:hover::before {
          background: #e82e19;
     }

     .resume-timeline .item::before {
          content: '';
          position: absolute;
          width: 12px;
          height: 12px;
          background: #656565;
          left: -6px;
          top: 7px;
          transition: .3s;
     }
     .resume-timeline .item:last-child {
          padding-bottom: 0;
     }
}
/* Services */
.services-items .service-item {
     border: 1px solid #565656;
     transition: .3s;
     position: relative;
     padding: 44px 48px 41px 48px;
     margin-bottom: 10px;
     cursor: pointer;
     h3 {
          font-size: 24px;
          font-weight: 300;
          margin-bottom: 8px;
          color: #fff;
     }
     p {
          font-size: 14px;
          color: #999999;
          margin-bottom: 30px;
     }
     .projects {
          font-size: 12px;
          color: #fff;
          text-transform: uppercase;
          display: inline-block;
     }
     i {
          position: absolute;
          font-size: 30px;
          color:#e82e19;
          top: 45px;
          right: 50px;
     }
 }
 .services-items .service-item:last-child {
     margin-bottom: 0;
 }
 .services-items .service-item:hover {
     border-color:#e82e19;
     h3 {
          color:#e82e19;
     }
     .projects {
          text-decoration: underline;
     }
}
/*  Skills */
.skills-area {
     padding-top: 90px;
     padding-bottom: 40px;
}
.skills .skill {
     margin-bottom: 50px;
     p {
          font-size: 14px;
          color: #fff;
          margin: 0;
     } 
}
.skills .skill .skill-inner {
     border: 2px solid #565656;
     padding: 30px 0;
     margin-bottom: 20px;
     transition: .3s;
     h2 {
          font-size: 30px;
          color: #e82e19;
          font-weight: 300;
          margin: 0;
     }
     img {
          width: 100px;
          height: 100px;
          object-fit: contain;
          margin-bottom: 20px;
     }
}
.skills .skill:hover .skill-inner {
     border-color: #e82e19;
     h2{
          color: #fff;
     }
}
/* 14 - Portfolio */
.portfolio-area {
     padding-top: 90px;
     padding-bottom: 90px;
 }
 .portfolio-items .portfolio-item {
     margin-bottom: 62px;
 }
 .portfolio-items > div:last-child .portfolio-item {
     margin-bottom: 0;
 }
 .portfolio-items .portfolio-item .portfolio-item-inner {
     height: 370px;
     overflow: hidden;
     position: relative;
     margin-bottom: 30px;
 }
 .portfolio-items .portfolio-item.portfolio-full .portfolio-item-inner {
     height: 410px;
 }
 .portfolio-items .portfolio-item .portfolio-item-inner img {
     display: block;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 .portfolio-items .portfolio-item .portfolio-item-inner .portfolio-categories {
     position: absolute;
     display: flex;
     flex-wrap: wrap;
     gap: 10px;
     align-items: center;
     bottom: 20px;
     left: 20px;
 }
 .portfolio-items .portfolio-item .portfolio-item-inner .portfolio-categories li a {
     display: block;
     font-size: 14px;
     background: #fff;
     color: #000;
     padding: 7px 20px;
     transition: .3s;
 }
 .portfolio-items .portfolio-item:hover .portfolio-item-inner .portfolio-categories li a {
     background: #1f1f1f;
     color: #fff;
 }
 .portfolio-items .portfolio-item h3 {
     font-size: 24px;
     font-weight: 300;
     margin: 0;
 }
 .portfolio-items .portfolio-item h3 a {
     color: #fff;
     display: inline-block;
     border-bottom: 1px solid transparent;
     transition: .3s;
 }
 .portfolio-items .portfolio-item:hover h3 a {
     border-color: #fff;
 }
 /* Tesrimonials */
swiper-container {
     width: 50%;
     height: 350px;
     margin: 0 auto;
     swiper-slide {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 50px;
          padding: 15px;

          color: #fff;
          background: #161616;
          border: #e82e19 1px solid;
          .imagg{
               width: 60px;
               height: 60px;
               }
          .text{
               color: #fff;
               font-size: 18px;
               font-style: normal;
               font-weight: 500;
          }
     }
}
/* Contact */
.contactForm{
     background-color: #161616;
     padding: 30px;
     input{
          background-color: #2c2c2c;
          outline: 2px solid #2c2c2c;
          height: 55px;
          padding: 0 15px;
          font-size: 14px;
          color: #999999!important;
          letter-spacing: 1px;
     }
     label{
          font-size: 12px;
          color: #999999;
          font-weight: 500;
          letter-spacing: 1px;
          text-transform: uppercase;
          text-align: left;
          display: block;
     }
     textarea{
          max-height: 220px;
          background-color: #2c2c2c;
          padding: 0;
          outline: 2px solid #2c2c2c;
          padding: 10px 15px;
          font-size: 14px;
          overflow-y: scroll;
          line-height: 18px;
          color: #999999;
          letter-spacing: 1px;
          resize: none;
     }
     button{
          background: linear-gradient(145deg, #1f1f1f, #1e1e1e);
          font-size: 17px;
          text-transform: uppercase;
          font-weight: 500;
          border: 0 none;
          color: #999999;
          width: 100%;
          height: 55px;
          cursor: pointer;
     }
}
textarea::-webkit-scrollbar{
     display: none;
}
.contactForm input:focus, textarea:focus{
     outline: 2px solid #e82e19!important;
}
.contactForm button:hover{
     box-shadow: 10px 10px 19px #2c2c2c, -10px -10px 19px #161616;
}
/* Footer */
#footer{
     border-top: #999999 1px solid;
     padding-top: 20px;
     margin-top: 50px;
     .haed{
          font-size: 14px;
          color: #999999;
          font-weight: 600;
          letter-spacing: 1.5px;
          word-spacing: 3px;
          margin-bottom: 10px;
     }
     .profileEmail{
          font-size: 14px;
          color: #fff;
          font-weight: 400;
          margin-bottom: 10px;
          cursor: pointer;
     }
}